<div class="app" id="app">

  <!-- ############ LAYOUT START-->

  <!-- aside -->
  <app-navbar></app-navbar>
  <!-- / aside -->

  <!-- content -->
  <div id="content" class="app-content box-shadow-z3" role="main">
    <app-header></app-header>
    <app-footer></app-footer>
    <div ui-view class="app-body" id="view">

      <!-- ############ PAGE START-->

      <!-- ############ PAGE END-->

    </div>
  </div>
  <!-- / -->

  <!-- theme switcher -->
  <app-theme-switcher></app-theme-switcher>
  <!-- / -->

  <!-- ############ LAYOUT END-->

</div>
