<div class="left navside dark dk" data-layout="column">
  <div class="navbar no-radius">
    <!-- brand -->
    <a class="navbar-brand">
      <div ui-include="'../assets/images/logo.svg'"></div>
      <img src="../assets/images/logo.png" alt="." class="hide">
      <span class="hidden-folded inline">Dark-Knight</span>
    </a>
    <!-- / brand -->
  </div>
  <div class="hide-scroll" data-flex>
    <nav class="scroll nav-light">

      <ul class="nav" ui-nav>
        <li class="nav-header hidden-folded">
          <small class="text-muted">应用服务</small>
        </li>

        <li>
          <a routerLink="dashboard" >
                    <span class="nav-icon">
                      <i class="material-icons">&#xe3fc;
                        <span ui-include="'../assets/images/i_0.svg'"></span>
                      </i>
                    </span>
            <span class="nav-text">主控板</span>
          </a>
        </li>

        <li>
          <a>
                    <span class="nav-caret">
                      <i class="fa fa-caret-down"></i>
                    </span>
            <span class="nav-label">
                      <b class="label rounded label-sm primary">5</b>
                    </span>
            <span class="nav-icon">
                      <i class="material-icons">&#xe5c3;
                        <span ui-include="'../assets/images/i_1.svg'"></span>
                      </i>
                    </span>
            <span class="nav-text">服务器</span>
          </a>
          <ul class="nav-sub">
            <li>
              <a routerLink="transaction" >
                <span class="nav-text">服务器健康状态</span>
              </a>
            </li>
          </ul>
        </li>

        <li>
          <a>
                    <span class="nav-caret">
                      <i class="fa fa-caret-down"></i>
                    </span>
            <span class="nav-icon">
                      <i class="material-icons">&#xe8f0;
                        <span ui-include="'../assets/images/i_2.svg'"></span>
                      </i>
                    </span>
            <span class="nav-text">服务项目</span>
          </a>
          <ul class="nav-sub">
            <li>
              <a routerLink="transaction" >
                <span class="nav-text">启停记录</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-header hidden-folded">
          <small class="text-muted">交易服务</small>
        </li>

        <li>
          <a>
                    <span class="nav-caret">
                      <i class="fa fa-caret-down"></i>
                    </span>
            <span class="nav-label">
                      <b class="label label-sm accent">8</b>
                    </span>
            <span class="nav-icon">
                      <i class="material-icons">&#xe429;
                        <span ui-include="'../assets/images/i_4.svg'"></span>
                      </i>
                    </span>
            <span class="nav-text">交易监控</span>
          </a>
          <ul class="nav-sub nav-mega nav-mega-3">
            <li>
              <a routerLink="transaction" >
                <span class="nav-text">交易状态查询</span>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
  </div>
  <div class="b-t">
    <div class="nav-fold">
      <a href="profile.html">
        	    <span class="pull-left">
        	      <img src="../assets/images/a0.jpg" alt="..." class="w-40 img-circle">
        	    </span>
        <span class="clear hidden-folded p-x">
        	      <span class="block _500">Jean Reyes</span>
        	      <small class="block text-muted"><i class="fa fa-circle text-success m-r-sm"></i>online</small>
        	    </span>
      </a>
    </div>
  </div>
</div>
