<div class="padding">
  <div class="box">
    <div class="box-header">
      <h3>{{transUniqueId}}</h3>
    </div>
    <div class="box-body">
      <div class="p-a">
        <div class="streamline b-l m-b" *ngFor="let transaction of transactionList">
          <div class="sl-item b-success">
            <div class="sl-content">
              <div class="sl-date text-muted">{{transaction.startTime | date:"yyyy-MM-dd HH:mm:ss"}}</div>
              <div>服务IP：{{transaction.serverIp}}</div>
              <div>服务名称：{{transaction.serverName}}</div>
              <div>交易类型：{{transaction.transType}}</div>
              <div>用户ID：{{transaction.userId}}</div>
              <div>线程：{{transaction.thread}}</div>
              <div *ngIf="transaction.threadId">线程ID：{{transaction.threadId}}</div>
              <div *ngIf="transaction.method">请求方式：{{transaction.method}}</div>
              <div *ngIf="transaction.transId">交易：{{transaction.transId}}</div>
              <div *ngIf="transaction.info" style="word-wrap:break-word">交易内容：{{transaction.info}}</div>
              <div *ngIf="transaction.transExcuteTime">交易执行时间：{{transaction.transExcuteTime}}毫秒</div>
              <div *ngIf="transaction.message">错误信息：{{transaction.message}}</div>
              <div *ngIf="transaction.localizedMessage">本地错误信息：{{transaction.localizedMessage}}</div>
              <div *ngIf="transaction.errorCause">本地错误内容：{{transaction.errorCause}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
