<div class="padding">
  <div class="box">
    <div>
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
        <tr>
          <th>
            用户ID
          </th>
          <th>
            交易类型
          </th>
          <th>
            交易名称
          </th>
          <th>
            错误码
          </th>
          <th>
            交易开始时间
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transaction of transactionList">
          <td>{{transaction.userId}}</td>
          <td>{{transaction.transType}}</td>
          <td>{{transaction.transId}}</td>
          <td>{{transaction.message}}</td>
          <td>{{transaction.startTime}}</td>
        </tr>
        </tbody>
        <tfoot class="hide-if-no-paging">
        <tr>
          <td colspan="5" class="text-center">
            <ul class="pagination"></ul>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
