<div class="padding">
  <div class="box">
    <div>
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
        <tr>
          <th>
            交易唯一编号
          </th>
          <th>
            用户ID
          </th>
          <th>
            交易类型
          </th>
          <th>
            交易名称
          </th>
          <th>
            错误码
          </th>
          <th>
            错误信息
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Isidra</td>
          <td><a href>Boudreaux</a></td>
          <td>Traffic Court Referee</td>
          <td data-value="78025368997">22 Jun 1972</td>
          <td data-value="1"><span class="label success" title="Active">Active</span></td>
          <td data-value="1"><span class="label success" title="Active">Active</span></td>
        </tr>
        </tbody>
        <tfoot class="hide-if-no-paging">
        <tr>
          <td colspan="5" class="text-center">
            <ul class="pagination"></ul>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
